@model IEnumerable<MiFincaVirtual.Backend.Models.LotesW>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de lotes</h2>

<p>
    @Html.ActionLink("Crear lote", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<div id="global">
    <table class="table">
        <tr>
            <th>
                Lote
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalesLote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAperturaLote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KilosCarneInicialLote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorInicialLote)
            </th>
            <th>
                Cuido
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GramosConsumoDiaLote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CerradoLote)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreLote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnimalesLote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAperturaLote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KilosCarneInicialLote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorInicialLote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cuido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GramosConsumoDiaLote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CerradoLote)
                </td>
                <td>
                    @Html.ActionLink("E", "Edit", new { id = item.LoteId }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("C", "Details", new { id = item.LoteId }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("D", "Delete", new { id = item.LoteId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>
<style type="text/css">
    #global {
        height: 400px;
        width: 1200px;
        border: 1px solid #ddd;
        background: #f1f1f1;
        overflow-y: scroll;
    }

    #mensajes {
        height: auto;
    }

    .texto {
        padding: 4px;
        background: #fff;
    }
</style>
