@model MiFincaVirtual.Common.Models.Animales

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Animales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo animal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opciones.Codigopcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Razas.NombreRaza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Razas.NombreRaza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngresoAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngresoAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimientoAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimientoAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivoAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivoAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerteneceAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerteneceAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EshembraAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EshembraAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PadreAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PadreAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MadreAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MadreAnimal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnimalId }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
</p>
