@model IEnumerable<MiFincaVirtual.Common.Models.Animales>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de animales de la finca</h2>

<p>
    @Html.ActionLink("Registrar animal", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Tipo Animal
        </th>
        <th>
            Raza
        </th>
        <th>
            Código
        </th>
        <th>
            Ingreso
        </th>
        <th>
            Nacimiento
        </th>
        <th>
            Activo
        </th>
        <th>
            Pertenece
        </th>
        <th>
            Hembra
        </th>
        <th>
            Gestante
        </th>
        <th>
            Padre
        </th>
        <th>
            Madre
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Opciones.Codigopcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Razas.NombreRaza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngresoAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimientoAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivoAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerteneceAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EshembraAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EshembraGestanteAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PadreAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MadreAnimal)
        </td>
        <td>
            @Html.ActionLink("E", "Edit", new { id = item.AnimalId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("C", "Details", new { id = item.AnimalId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("D", "Delete", new { id = item.AnimalId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
