@model IEnumerable<MiFincaVirtual.Common.Models.Fincas>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de fincas</h2>

<p>
    @Html.ActionLink("Registrar finca", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreFinca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaisFinca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoFinca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CiudadFinca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngresoFinca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HabilitadaFinca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreFinca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaisFinca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoFinca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CiudadFinca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngresoFinca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HabilitadaFinca)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.ImagePath))
            {
                <img src="@Url.Content(item.ImagePath)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
            }
        </td>
        <td>
            @Html.ActionLink("E", "Edit", new { id=item.FincaId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("C", "Details", new { id=item.FincaId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("D", "Delete", new { id=item.FincaId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
