@model IEnumerable<MiFincaVirtual.Common.Models.CorralesComida>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Registrar comida", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Corrales.CodigoCorral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opciones.Codigopcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadCorralComida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCorralComida)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Corrales.CodigoCorral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opciones.Codigopcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadCorralComida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCorralComida)
        </td>
        <td>
            @Html.ActionLink("E", "Edit", new { id=item.CorralComidaId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("C", "Details", new { id=item.CorralComidaId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("D", "Delete", new { id=item.CorralComidaId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
