@model IEnumerable<MiFincaVirtual.Common.Models.Leches>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LecheAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroLeche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LitrosLeche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesoLeche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaLeche)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leche)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LecheAnimal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroLeche)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LitrosLeche)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesoLeche)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaLeche)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Leche)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LecheId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LecheId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LecheId })
        </td>
    </tr>
}

</table>
