@model MiFincaVirtual.Common.Models.Razas

@{
    ViewBag.Title = "Detalle";
}

<h2>Details</h2>

<div>
    <h4>Razas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreRaza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreRaza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionRaza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionRaza)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RazaId }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
</p>
