@model IEnumerable<MiFincaVirtual.Common.Models.Razas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreRaza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionRaza)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreRaza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionRaza)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RazaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RazaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RazaId })
        </td>
    </tr>
}

</table>
