@model MiFincaVirtual.Common.Models.Quesos

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar queso</h2>

<h3>¿Esta seguro que lo desea eliminar?</h3>
<div>
    <h4>Quesos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaQueso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaQueso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LecheUtilizadaQueso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LecheUtilizadaQueso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesoQueso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoQueso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioQueso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioQueso)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
        </div>
    }
</div>
