@model MiFincaVirtual.Common.Models.LotesComida

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Registro de comidas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Lote
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lotes.NombreLote)
        </dd>

        <dt>
            Cuido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opciones.Codigopcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadLoteComida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadLoteComida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaLoteComida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaLoteComida)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoteComidaId }, new { @class = "btn btn-warning" })) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
</p>
