@model MiFincaVirtual.Common.Models.Opciones

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Opciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigopcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigopcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionOpcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionOpcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoOpcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoOpcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OpcionId }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
</p>
