@model MiFincaVirtual.Common.Models.Corrales

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Corrales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Opciones.Codigopcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opciones.Codigopcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoCorral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoCorral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadAnimalesCorral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadAnimalesCorral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedidasCorral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedidasCorral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivoCorral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivoCorral)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CorralId }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
</p>
