@model IEnumerable<MiFincaVirtual.Common.Models.Corrales>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de corrales</h2>

<p>
    @Html.ActionLink("Crear corral", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Opciones.Codigopcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoCorral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadAnimalesCorral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedidasCorral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivoCorral)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Opciones.Codigopcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoCorral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadAnimalesCorral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedidasCorral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivoCorral)
        </td>
        <td>
            @Html.ActionLink("E", "Edit", new { id=item.CorralId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("C", "Details", new { id=item.CorralId }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("D", "Delete", new { id=item.CorralId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
