@model IEnumerable<MiFincaVirtual.Common.Models.AnimalesTipos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoAnimalTipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAnimalTipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnimalTipoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnimalTipoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnimalTipoId })
        </td>
    </tr>
}

</table>
